
.icon-twitter-squared:before { content: '\e800'; } /* '' */
.icon-twitter:before { content: '\e801'; } /* '' */
.icon-facebook:before { content: '\e802'; } /* '' */
.icon-facebook-squared:before { content: '\e803'; } /* '' */
.icon-linkedin-squared:before { content: '\e804'; } /* '' */
.icon-linkedin:before { content: '\e805'; } /* '' */
.icon-gplus:before { content: '\e806'; } /* '' */
.icon-gplus-squared:before { content: '\e807'; } /* '' */
.icon-pinterest-circled:before { content: '\e808'; } /* '' */
.icon-pinterest-squared:before { content: '\e809'; } /* '' */
.icon-flickr:before { content: '\e80a'; } /* '' */
.icon-camera-alt:before { content: '\e80b'; } /* '' */
.icon-camera:before { content: '\e80c'; } /* '' */
.icon-vimeo-squared:before { content: '\e80d'; } /* '' */
.icon-vimeo:before { content: '\e80e'; } /* '' */
.icon-youtube:before { content: '\e80f'; } /* '' */
.icon-youtube-squared:before { content: '\e810'; } /* '' */
.icon-youtube-play:before { content: '\e811'; } /* '' */
.icon-pinboard:before { content: '\e812'; } /* '' */
.icon-github:before { content: '\e813'; } /* '' */
.icon-github-squared:before { content: '\e814'; } /* '' */
.icon-github-circled:before { content: '\e815'; } /* '' */
.icon-github-1:before { content: '\e816'; } /* '' */
.icon-adn:before { content: '\e817'; } /* '' */
.icon-appnet:before { content: '\e818'; } /* '' */
.icon-apple:before { content: '\e819'; } /* '' */
.icon-cloud:before { content: '\e81a'; } /* '' */
.icon-rss:before { content: '\e81b'; } /* '' */
.icon-rss-squared:before { content: '\e81c'; } /* '' */
.icon-search:before { content: '\e81d'; } /* '' */