/*
* Noto Sans Japanese (japanese) http://www.google.com/fonts/earlyaccess
* Downloaded fonts from //fonts.gstatic.com/ea/notosansjapanese/v3/ to local
* Roboto had 200, 300, 400, 500, 700 only
*/

@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 100;
  src: url(/font/noto/NotoSansJP-Thin.woff2) format('woff2'),
       url(/font/noto/NotoSansJP-Thin.woff) format('woff'),
       url(/font/noto/NotoSansJP-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 200;
  src: url(/font/noto/NotoSansJP-Light.woff2) format('woff2'),
       url(/font/noto/NotoSansJP-Light.woff) format('woff'),
       url(/font/noto/NotoSansJP-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans Japanese';
   font-style: normal;
   font-weight: 300;
   src: url(/font/noto/NotoSansJP-DemiLight.woff2) format('woff2'),
        url(/font/noto/NotoSansJP-DemiLight.woff) format('woff'),
        url(/font/noto/NotoSansJP-DemiLight.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans Japanese';
   font-style: normal;
   font-weight: 400;
   src: url(/font/noto/NotoSansJP-Regular.woff2) format('woff2'),
        url(/font/noto/NotoSansJP-Regular.woff) format('woff'),
        url(/font/noto/NotoSansJP-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans Japanese';
   font-style: normal;
   font-weight: 500;
   src: url(/font/noto/NotoSansJP-Medium.woff2) format('woff2'),
        url(/font/noto/NotoSansJP-Medium.woff) format('woff'),
        url(/font/noto/NotoSansJP-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans Japanese';
   font-style: normal;
   font-weight: 700;
   src: url(/font/noto/NotoSansJP-Bold.woff2) format('woff2'),
        url(/font/noto/NotoSansJP-Bold.woff) format('woff'),
        url(/font/noto/NotoSansJP-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans Japanese';
   font-style: normal;
   font-weight: 900;
   src: url(/font/noto/NotoSansJP-Black.woff2) format('woff2'),
        url(/font/noto/NotoSansJP-Black.woff) format('woff'),
        url(/font/noto/NotoSansJP-Black.otf) format('opentype');
 }
