{{ "<!-- ENTERING layouts/_default/single.html -->" | safeHTML }}
{{ partial "head.html" . }}
<body>
{{ partial "detailpage-header.html" . }}
{{ partial "sidebar.html" . }}
<main>
    <div class="container">
      <!--  Outer row  -->
      <div class="row">

        <div class="col s12 m9 l10">
          <!--  Material Design -->
          <div id="materialdesign" class="section scrollspy">

            {{ .Content }}
            {{if isset .Params "showtopics" }}
              {{ partial "detailpage-topics.html" . }}
            {{ end }}
            {{if isset .Params "gallery_id" }}
              {{ partial "gallery.html" . }}
            {{ end }}
            {{ partial "form-moreinfo.html" . }}
            {{if isset .Params "warning" }}
              {{ partial "warning.html" . }}
            {{ end }}
          </div>
        </div>
        <!-- Put Table of Contents Partial Here -->
      </div>
    </div>
    <!-- End Container -->
  </main>
  {{ partial "footer-detail.html" . }}
  {{ partial "bodyend.html" . }}
</body>

</html>
{{ "<!-- LEAVING layouts/_default/single.html -->" | safeHTML }}
