{{ "<!-- ENTERING layouts/partials/detailnode-header.html -->" | safeHTML }}
<header>
  <div class="section amber" id="index-banner">
    <div class="container">
      <div class="row">
        <div class="col s12 m9">
          {{ $nodetitle := .Title }}
          {{ $taxoname := .Data.Plural }}
          <h1 class="header center-on-small-only">
            {{ if in "Tags タグ" $nodetitle }}
            REPLACE with tags }}
            {{ else if in "Topics トピック" $nodetitle }}
            REPLACE with topics }}
            {{ else if in "Series シリーズ" $nodetitle }}
            REPLACE with series }}
            {{ else }}
            {{ if eq .Title "Esolia" }}eSolia{{ else }}{{ .Title }}{{ end }}
            {{ end }}
          </h1>
          <h4 class="light light-blue-text center-on-small-only">
            {{ if in "tags タグ" $taxoname }}
            REPLACE with taxotagbrowse }}
            {{ else if in "topics トピック" $taxoname }}
            REPLACE with taxotopicbrowse }}
            {{ else if in "series シリーズ" $taxoname }}
            REPLACE with taxoseriesbrowse }}
            {{ else }}
            REPLACE with taxobrowse }}
            {{ end }}
          </h4>
        </div>
      </div>
    </div>
  </div>
</header>
{{ "<!-- LEAVING layouts/partials/detailnode-header.html -->" | safeHTML }}
