{{ "<!-- ENTERING layouts/partials/footer-HOME.html -->" | safeHTML }}
<footer class="page-footer grey darken-3">
  <div class="container">
    <div class="row center">
      <div class="col l3 s12">
        <h5 class="white-text">REPLACE with footerlinks1title }}</h5>
          <ul class="esListFooter">
            {{ range .Site.Menus.homefooter1 }}
            <li><a class="white-text" href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">REPLACE with footerlinks4title }}</h5>
          <ul class="esListFooter">
            {{ range .Site.Menus.homefooter2 }}
            <li><a class="white-text" href="{{ .URL }}">{{ .Name }}</a></li>
            {{ end }}
          </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">REPLACE with footerlinks2title }}</h5>
          <ul class="esListFooter">
            {{ $series := index .Site.Taxonomies.series "ninki1" }}
            {{ range first 5 $series.Pages }}
            <li><a class="white-text" href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">REPLACE with footerlinks5title }}</h5>
          <ul class="esListFooter">
            {{ $series := index .Site.Taxonomies.series "top2" }}
            {{ range first 5 $series.Pages }}
            <li><a class="white-text" href="{{ .Permalink }}">{{ .Title }}</a></li>
            {{ end }}
          </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright grey darken-2">
    <div class="container">
      <small>
      &copy;1999-{{ .Now.Year }} REPLACE with footerallrightsreserved }}&nbsp;(<a class="grey-text text-lighten-4" href="/license">REPLACE with genlicensename }}</a>)
      <a class="grey-text text-lighten-4 right" href="/colophon">REPLACE with gencolophonname }}</a>
      </small>
    </div>
  </div>
</footer>
{{ "<!-- LEAVING layouts/partials/footer-HOME.html -->" | safeHTML }}
