{{ "<!-- ENTERING layouts/partials/sidebar.html -->" | safeHTML }}
<aside>
  <div class="container"><a href="#" data-activates="nav-mobile" class="button-collapse top-nav waves-effect waves-light circle"><i class="mdi-navigation-menu"></i></a></div>
  <ul id="nav-mobile" class="side-nav fixed">
    <li class="logo">
      <a id="logo-container" href="{{ .Site.BaseURL }}" class="brand-logo">
        <object id="front-page-logo" type="image/svg+xml" data="/img/eSolia-Logo-Flat-2015.svg" width="100%">Your browser does not support SVG</object>
      </a>
    </li>
    <li class="no-padding">
      <ul class="collapsible collapsible-accordion" data-collapsible="expandable">
        {{ $currentNode := . }}{{ range .Site.Menus.main }}{{ if .HasChildren }}
        <li class="bold"><a class="collapsible-header waves-effect waves-light-blue{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}">{{ .Pre }}<span>{{ .Name }}</span></a>
          <div class="collapsible-body">
            <ul>{{ range .Children }}
              <li {{if $currentNode.IsMenuCurrent "main" . }} class="active light-blue" {{end}}><a href="{{.URL}}">{{ .Pre }}<span>{{ .Name }}</span></a></li>{{ end }}
            </ul>
          </div>
          {{ else }}<li class="bold{{if $currentNode.IsMenuCurrent " main " . }} active{{end}}"><a href="{{.URL}}" class="collapsible-header waves-effect waves-light-blue">{{ .Pre }}<span>{{ .Name }}</span></a> {{ end }}</li>{{ end }}
          <li class="bold"><a href="http://zerobin.esolia.com" class="collapsible-header waves-effect waves-light-blue" target="_blank">Zerobin</a></li>
      </ul>
    </li>
  </ul>
</aside>
{{ "<!-- LEAVING layouts/partials/sidebar.html -->" | safeHTML }}
