{{ partial "header.html" . }}

<body>

  <nav class="white z-depth-2 valign-wrapper" role="navigation">
    <div class="nav-wrapper container valign">
      <a id="logo-container" href="#" class="brand-logo">
        <img id="front-page-logo" class="esolia-logo responsive-img" src="img/eSolia-Logo-Flat-2015.svg">
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="#" class="deep-orange-text text-lighten-1">Some Link</a></li>
        <li>
          <a href="tel:+81-3-6273-3510" class="green-text text-accent-4">
            <em>Tel:</em>&nbsp;+81-3-6273-3510</a>
        </li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot valign">
      <div class="container">
        <br>
        <br>
        <h1 class="header center orange-text text-lighten-1">{{ if eq .Site.Params.locale "en-us" }}Your Japan IT Department{{ else }}株式会社イソリア{{ end }}</h1>

        <div class="row center">
          <h5 class="header col s12 light">eSolia is your virtual IT department in Japan</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="img/eSolia-Cogley-Azabudai-to-Atago-Tokyo-20131031-5318b.jpg" alt="Unsplashed background img 2">
    </div>
  </div>

  <div class="indigo white-text z-depth-3">
    <div class="container">
      <div class="section">
        <div class="row valign-wrapper">
          <div class="col s12 center">
            <h3><i class="large mdi-action-done-all green-text text-accent-4"></i></h3>
            <h4>Building Strong Foundations</h4>
            <div class="row">
              <div class="col s12 m9 center">
                <p class="left-align light">
                  <span class="green-text text-accent-4">
                    <strong>eSolia is an Information Technology management firm based in Tokyo,</strong>
                  </span> that has been providing high-quality business-focused consulting, project and outsourcing services since 1999, to a variety of blue-chip foreign and Japanese organizations in Japan, the Asia Pacific region and any location abroad. We are a globally-minded organization that focuses on the challenges of multi-cultural, multi-language environments, and have a successful track record in handling complex high-pressure projects.</p>
                <p class="left-align light">We have the confidence to find solutions for all your system and process challenges.</p>

                <p class="left-align light">
                  <em>At eSolia, we build on strong foundations</em> – let us develop a long-term relationship together.</p>
              </div>
              <div class="col s12 m3 center">
                <p class="valign">
                  <br>
                  <ul class="collapsible" data-collapsible="accordion">
                    <li>
                      <div class="collapsible-header indigo darken-1"><i class="mdi-social-people green-text text-accent-4"></i>2</div>
                      <div class="collapsible-body">
                        <p>... professionals minimum, per account.</p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header indigo darken-1"><i class="mdi-action-thumb-up green-text text-accent-4"></i>10</div>
                      <div class="collapsible-body">
                        <p>... critical partners.</p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header indigo darken-1"><i class="mdi-toggle-check-box green-text text-accent-4"></i>100</div>
                      <div class="collapsible-body">
                        <p>... years of experience among principals.</p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header indigo darken-1"><i class="mdi-image-assistant-photo green-text text-accent-4"></i>3000+</div>
                      <div class="collapsible-body">
                        <p>... trouble or request tickets resolved per year.</p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header indigo darken-1"><i class="mdi-image-timer green-text text-accent-4"></i>55000+</div>
                      <div class="collapsible-body">
                        <p>... hours booked over past 5 years.</p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header indigo darken-1"><i class="mdi-social-whatshot deep-orange-text text-accent-3"></i>1</div>
                      <div class="collapsible-body">
                        <p>... important thing:
                          <span class="deep-orange-text text-accent-3">Your Mandate.</span>
                        </p>
                      </div>
                    </li>
                  </ul>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="white z-depth-2">
    <div class="container">
      <div class="section">

        <!--   Card Section   -->
        <div class="row center">
          <h3><i class="large mdi-social-whatshot deep-orange-text text-accent-3"></i></h3>
          <h4>What We Do</h4>
          <p class="left-align light">eSolia's professional staff handles a wide range of IT activities, from infrastructure, operations, development, to management and governance. You're sure to find that we can cover your needs.</p>
          <div class="col s12 m3 center">
            <div class="card brown darken-4">
              <div class="card-content white-text">
                <p class="brown-text text-lighten-4">
                  <strong>OFFICE SETUP</strong>
                </p>
                <p>Full support for new office setup management, upgrades or internal moves.</p>
                <br>
              </div>
              <div class="card-action brown darken-3">
                <a href="#" class="light-blue-text text-accent-2">More Info</a>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card blue-grey darken-4">
              <div class="card-content white-text">
                <p class="blue-grey-text text-lighten-4">
                  <strong>HELPDESK</strong>
                </p>
                <p>Your users' support questions, answered quickly.</p>
              </div>
              <div class="card-action blue-grey darken-3">
                <a href="#" class="light-blue-text text-accent-2">More Info</a>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card teal darken-4">
              <div class="card-content white-text">
                <p class="teal-text text-lighten-4">
                  <strong>PROCESS</strong>
                </p>
                <p>Management of Procurement, Asset Mgt, Compliance, Upgrade or any other IT processes.</p>
              </div>
              <div class="card-action teal darken-3">
                <a href="#" class="light-blue-text text-accent-2">More Info</a>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card indigo darken-4">
              <div class="card-content white-text">
                <p class="indigo-text text-lighten-4">
                  <strong>ON-SITE</strong>
                </p>
                <p>Engineers visit your site for user support, regular systems admin tasks, or troubleshooting.</p>
              </div>
              <div class="card-action indigo darken-3">
                <a href="#" class="light-blue-text text-accent-2">More Info</a>
              </div>
            </div>
          </div>

        </div>
        <div class="row">

          <div class="col s12 m3">
            <div class="card deep-purple darken-4">
              <div class="card-content white-text">
                <p class="deep-purple-text text-lighten-4">
                  <strong>PROJECT MGT</strong>
                </p>
                <p>Successful coordination for all your local or global projects.</p>
                <br>
              </div>
              <div class="card-action deep-purple darken-3">
                <a href="#" class="light-blue-text text-accent-2">More Info</a>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card cyan darken-4">
              <div class="card-content white-text">
                <p class="cyan-text text-lighten-4">
                  <strong>IT MGT</strong>
                </p>
                <p>Interim or ongoing IT management services on- or off-site.</p>
              </div>
              <div class="card-action cyan darken-3">
                <a href="#" class="light-blue-text text-accent-2">More Info</a>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card grey darken-4">
              <div class="card-content white-text">
                <p class="grey-text text-lighten-4">
                  <strong>CLOUD DB</strong>
                </p>
                <p>Rapid development of your ops database in eSolia "PROdb" cloud database.</p>
              </div>
              <div class="card-action grey darken-3">
                <a href="#" class="light-blue-text text-accent-2">More Info</a>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card deep-orange darken-4">
              <div class="card-content white-text">
                <p class="deep-orange-text text-lighten-4">
                  <strong>MANDATE</strong>
                </p>
                <p>Flexible accommodation of your directives, your standards, your mandate.</p>
              </div>
              <div class="card-action deep-orange darken-3">
                <a href="#" class="light-blue-text text-accent-2">More Info</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light-green-text text-accent-3">"eSolia helped us to see the light at the end of the tunnel, when they successfully managed a complex, multi-year project."</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="img/eSolia-Cogley-Azabudai-to-Atago-Tokyo-20131031-5355b.jpg" alt="Unsplashed background img 2">
    </div>
  </div>

  <div class="white z-depth-2">
    <div class="container">
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="mdi-image-flash-on"></i></h2>
              <h5 class="center">Our Value</h5>

              <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="mdi-social-group"></i></h2>
              <h5 class="center">Our Pledge</h5>

              <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center brown-text"><i class="mdi-action-settings"></i></h2>
              <h5 class="center">Our ...</h5>
              <p class="light">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam...</p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h5 class="header col s12 light-green-text text-accent-3">"eSolia's technical knowledge was second-to-none, and they could explain difficult solutions in layman's terms so that everyone understood every detail."</h5>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="img/eSolia-Cogley-Network-Switch-1.jpg" alt="Unsplashed background img 3">
    </div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m8 center">
          <h3><i class="mdi-content-send blue-text"></i></h3>
          <h4>Contact Us</h4>
          <div class="row">
            <div class="col s12 m3 center-on-small-only">
              <div class="image-container">
                <img class="materialboxed left responsive-img" data-caption="eSolia Inc. - Tokyo Toranomon Office Exterior" width="100" src="/img/eSolia-Cogley-eSolia-Office-Exterior-20130530.jpg">
              </div>
            </div>
            <div class="col s12 m9 left-align light">
              <em>Tel:</em>&nbsp;<a href="tel:+81-3-6273-3510">+81-3-6273-3510</a> (+81 &#8594; 0 inside Japan)
              <br>
              <em>Email:</em>&nbsp;<a href="mailto:info@esolia.co.jp">info@esolia.co.jp</a>
              <br>
              <em>Address:</em> Sawa Bldg. 6F, Nishi-Shimbashi 2-2-2, Minato-ku, Tokyo 105-0003 Japan
              <br>
              <em>Hours:</em> 9:00-18:00 JST weekdays
              <p><a class="waves-effect waves-light blue btn" href="https://www.google.co.jp/maps/place/eSolia+Inc./@35.667716,139.751462,17z/data=!4m6!1m3!3m2!1s0x60188b933eb5098d:0xb799ee788fa28eb7!2seSolia+Inc.!3m1!1s0x60188b933eb5098d:0xb799ee788fa28eb7?hl=en" target="_blank"><i class="mdi-maps-place left"></i>View on Google Maps</a></p>
            </div>
          </div>

        </div>
        <div class="col s12 m4 center">
          <h3><i class="mdi-communication-comment blue-text"></i></h3>
          <h4 class="center">Latest Posts</h4>
          <p class="light">
            <div id="divRss"></div>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="index-social-icons blue-grey darken-1 z-depth-1">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <a href="https://plus.google.com/+Esolia/posts" target="_blank"><i class="large icon-gplus red-text text-darken-1"></i></a>
            <a href="https://twitter.com/esolia_inc" target="_blank"><i class="large icon-twitter light-blue-text"></i></a>
            <a href="http://www.linkedin.com/company/esolia-inc" target="_blank"><i class="large icon-linkedin white-text"></i></a>
            <a href="http://www.facebook.com/eSolia" target="_blank"><i class="large icon-facebook indigo-text text-darken-2"></i></a>
            <a href="https://vimeo.com/channels/esolia" target="_blank"><i class="large icon-vimeo lime-text text-accent-3"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer blue-grey darken-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Company Bio</h5>
          <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>

        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Settings</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="#!">Link 1</a></li>
            <li><a class="white-text" href="#!">Link 2</a></li>
            <li><a class="white-text" href="#!">Link 3</a></li>
            <li><a class="white-text" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <span class="blue-grey-text text-lighten-1">Powered by <a href="http://gohugo.io" target="_blank">Hugo</a> & <a href="http://materializecss.com" target="_blank">Materialize</a></span>
      </div>
    </div>
  </footer>
  {{ partial "bodyend.html" . }}
</body>

</html>
