{{ partial "head.html" . }}
<body>
  <nav class="white z-depth-2 valign-wrapper" role="navigation">
    <div class="nav-wrapper container valign">
      <a id="logo-container" href="#" class="brand-logo">
        <img id="front-page-logo" class="esolia-logo responsive-img" src="img/eSolia-Logo-Flat-2015.svg">
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/about" class="blue-text text-darken-3">{{ ( index $.Site.Data.translations $.Site.Params.locale ).menuabout }}</a></li>
        <li>
          <a href="tel:+81-3-6273-3510" class="green-text text-accent-4">
            <em>Tel:</em>&nbsp;+81-3-6273-3510</a>
        </li>
        <li>
          <a href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).menulanguageswitchurl }}" class="green-text text-accent-4">{{ ( index $.Site.Data.translations $.Site.Params.locale ).menulanguageswitch }}</a>
        </li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/about" class="blue-text text-darken-3">{{ ( index $.Site.Data.translations $.Site.Params.locale ).menuabout }}</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
    </div>
  </nav>

  <div id="index-banner" class="parallax-container valign-wrapper">
    <div class="section no-pad-bot valign">
      <div class="container">
        <br>
        <br>
        <h1 class="header center orange-text text-lighten-1">{{ ( index $.Site.Data.translations $.Site.Params.locale ).topslogan | markdownify }}</h1>

        <div class="row center">
          <h3 class="header col s12 light">{{ ( index $.Site.Data.translations $.Site.Params.locale ).topsubslogan }}</h3>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="/img/eSolia-Cogley-Azabudai-to-Atago-Tokyo-20131031-5318b.jpg" alt="{{ ( index $.Site.Data.translations $.Site.Params.locale ).altphototemplecolumn }}">
    </div>
  </div>

  <div class="grey darken-3 white-text z-depth-3">
    <div class="container">
      <div class="section">
        <div class="row valign-wrapper">
          <div class="col s12 center">
            <h3><i class="large mdi-action-done-all green-text text-accent-4"></i></h3>
            <h4>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topsectionbsf }}</h4>
            <div class="row">

              <div class="col s12 m9 center">
              {{ if eq .Site.Params.locale "en-US" }}
                <p class="left-align light"><span class="green-text text-accent-4"><strong>eSolia is an Information Technology management firm based in Tokyo,</strong></span> that has been providing high-quality business-focused consulting, project and outsourcing services since 1999, to a variety of blue-chip foreign and Japanese organizations in Japan, the Asia Pacific region and any location abroad. We are a globally-minded organization that focuses on the challenges of multi-cultural, multi-language environments, and have a successful track record in handling complex high-pressure projects.</p>

                <p class="left-align light">We have the confidence to find solutions for all your system and process challenges.</p>

                <p class="left-align light"><em>At eSolia, we build on strong foundations</em> – let us develop a long-term relationship together.</p>
                {{ else if eq .Site.Params.locale "ja-JP" }}
                <p class="left-align light"><span class="green-text text-accent-4"><strong>株式会社イソリアは1999年設立以降東京を拠点に、</strong></span> 「ITコンサルティング」、「ITプロジェクト・マネージメント」、「ITアウトソーシング」サービスを、外資系・日本国内の企業のお客様に提供するITマネージメント企業です。当社はミックスカルチャーに焦点をあてたグローバル企業であり過去に複雑なプロジェクトを数多く手がけ、クリエイティブな問題解決をお客様へ提供しております。</p>

                <p class="left-align light">これまでの成功実績と経験を基に、貴社のITシステム全般に対するソリューションを見出し、チャレンジを推し進めることに多大な自信を持っています。 </p>

                <p class="left-align light"><em>イソリアは、お客様との末長い関係を</em>築きながら強固なを基盤を構築いたします。</p>
              {{ end }}
              </div>
              <div class="col s12 m3 center">
              {{ if eq .Site.Params.locale "en-US" }}
                <p class="valign">
                  <ul class="collapsible" data-collapsible="accordion">
                    <li>
                      <div class="collapsible-header grey darken-4 white-text"><i class="mdi-social-people green-text text-accent-4"></i>2</div>
                      <div class="collapsible-body white-text">
                        <p>... professionals minimum, per account.</p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header grey darken-4 white-text"><i class="mdi-action-thumb-up green-text text-accent-4"></i>10</div>
                      <div class="collapsible-body white-text">
                        <p>... critical partners.</p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header grey darken-4 white-text"><i class="mdi-toggle-check-box green-text text-accent-4"></i>100</div>
                      <div class="collapsible-body white-text">
                        <p>... years of experience among principals.</p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header grey darken-4 white-text"><i class="mdi-image-assistant-photo green-text text-accent-4"></i>3000+</div>
                      <div class="collapsible-body white-text">
                        <p>... trouble or request tickets resolved per year.</p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header grey darken-4 white-text"><i class="mdi-image-timer green-text text-accent-4"></i>55000+</div>
                      <div class="collapsible-body white-text">
                        <p>... hours booked over past 5 years.</p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header grey darken-4 white-text"><i class="mdi-social-whatshot deep-orange-text text-accent-3"></i>1</div>
                      <div class="collapsible-body white-text">
                        <p>... important thing:
                          <span class="deep-orange-text text-accent-3">Your Mandate.</span>
                        </p>
                      </div>
                    </li>
                  </ul>
                </p>
              {{ else if eq .Site.Params.locale "ja-JP" }}
                <p class="valign">
                  <ul class="collapsible" data-collapsible="accordion">
                    <li>
                      <div class="collapsible-header grey darken-4 white-text"><i class="mdi-social-people green-text text-accent-4"></i>2+</div>
                      <div class="collapsible-body white-text">
                        <p> 1クライアントにつき2名以上の担当エンジニア</p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header grey darken-4 white-text"><i class="mdi-action-thumb-up green-text text-accent-4"></i>10</div>
                      <div class="collapsible-body white-text">
                        <p>信頼のおけるパートナー数</p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header grey darken-4 white-text"><i class="mdi-toggle-check-box green-text text-accent-4"></i>100+</div>
                      <div class="collapsible-body white-text">
                        <p>チームの知識は100年分の<br>集合知</p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header grey darken-4 white-text"><i class="mdi-image-assistant-photo green-text text-accent-4"></i>3000+</div>
                      <div class="collapsible-body white-text">
                        <p>トラブルチケット解決件数<br>/年</p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header grey darken-4 white-text"><i class="mdi-image-timer green-text text-accent-4"></i>55000+</div>
                      <div class="collapsible-body white-text">
                        <p>5年間の総サポート時間</p>
                      </div>
                    </li>
                    <li>
                      <div class="collapsible-header grey darken-4 white-text"><i class="mdi-social-whatshot deep-orange-text text-accent-3"></i>1</div>
                      <div class="collapsible-body white-text">
                        <p>1つだけ大切な事：<br>
                          <span class="deep-orange-text text-accent-3">貴社からの信頼</span>
                        </p>
                      </div>
                    </li>
                  </ul>
                </p>
              {{ end }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="white z-depth-2">
    <div class="container">
      <div class="section">

        <!--   CARD SECTION   -->
        <!--   ROW 1   -->
        <div class="row center">
          <h3><i class="large mdi-social-whatshot deep-orange-text text-accent-3"></i></h3>
          <h4>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topsectionwwd }}</h4>
          <p class="left-align">{{ ( index $.Site.Data.translations $.Site.Params.locale ).topsectionwwdtext }}</p>
          <div class="col s12 m3 center">
            <div class="card brown darken-4">
              <div class="card-content white-text">
                <p class="brown-text text-lighten-4">
                  <strong>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdofficesetup }}</strong>
                </p>
                <p><small>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdofficesetuptext }}</small></p>
              </div>
              <div class="card-action brown darken-3">
                <a href="/office-setup" class="light-blue-text text-accent-2">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card deep-purple darken-4">
              <div class="card-content white-text">
                <p class="deep-purple-text text-lighten-4">
                  <strong>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdhelpdesk }}</strong>
                </p>
                <p><small>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdhelpdesktext }}</small></p>
              </div>
              <div class="card-action deep-purple darken-3">
                <a href="/helpdesk" class="light-blue-text text-accent-2">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card teal darken-4">
              <div class="card-content white-text">
                <p class="teal-text text-lighten-4">
                  <strong>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdprocess }}</strong>
                </p>
                <p><small>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdprocesstext }}</small></p>
              </div>
              <div class="card-action teal darken-3">
                <a href="/process" class="light-blue-text text-accent-2">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card grey darken-4">
              <div class="card-content white-text">
                <p class="indigo-text text-lighten-4">
                  <strong>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdonsite }}</strong>
                </p>
                <p><small>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdonsitetext }}</small></p>
              </div>
              <div class="card-action grey darken-3">
                <a href="/on-site" class="light-blue-text text-accent-2">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a>
              </div>
            </div>
          </div>
        </div>
        <!--   ROW 2   -->
        <div class="row center">
          <div class="col s12 m3">
            <div class="card blue-grey darken-4">
              <div class="card-content white-text">
                <p class="blue-grey-text text-lighten-4">
                  <strong>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdinfrastructure }}</strong>
                </p>
                <p><small>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdinfrastructuretext }}</small></p>
              </div>
              <div class="card-action blue-grey darken-3">
                <a href="/infrastructure" class="light-blue-text text-accent-2">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card pink darken-4">
              <div class="card-content white-text">
                <p class="pink-text text-lighten-4">
                  <strong>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdmanagement }}</strong>
                </p>
                <p><small>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdmanagementtext }}</small></p>
              </div>
              <div class="card-action pink darken-3">
                <a href="/management" class="light-blue-text text-accent-2">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card grey darken-4">
              <div class="card-content white-text">
                <p class="grey-text text-lighten-4">
                  <strong>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdclouddb }}</strong>
                </p>
                <p><small>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdclouddbtext }}</small></p>
              </div>
              <div class="card-action grey darken-3">
                <a href="/prodb" class="light-blue-text text-accent-2">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card blue darken-4">
              <div class="card-content white-text">
                <p class="blue-text text-lighten-4">
                  <strong>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdlocalization }}</strong>
                </p>
                <p><small>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdlocalizationtext }}</small></p>
              </div>
              <div class="card-action blue darken-3">
                <a href="/localization" class="light-blue-text text-accent-2">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a>
              </div>
            </div>
          </div>
        </div>
        <!--   ROW 3   -->
        <div class="row center">
          <div class="col s12 m3">
            <div class="card cyan darken-4">
              <div class="card-content white-text">
                <p class="cyan-text text-lighten-4">
                  <strong>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdsecurity }}</strong>
                </p>
                <p><small>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdsecuritytext }}</small></p>
              </div>
              <div class="card-action cyan darken-3">
                <a href="/security" class="light-blue-text text-accent-2">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card brown darken-4">
              <div class="card-content white-text">
                <p class="brown-text text-lighten-4">
                  <strong>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdwebsite }}</strong>
                </p>
                <p><small>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdwebsitetext }}</small></p>
              </div>
              <div class="card-action brown darken-3">
                <a href="website-design" class="light-blue-text text-accent-2">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card indigo darken-4">
              <div class="card-content white-text">
                <p class="indigo-text text-lighten-4">
                  <strong>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdtraining }}</strong>
                </p>
                <p><small>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdtrainingtext }}</small></p>
              </div>
              <div class="card-action indigo darken-3">
                <a href="/training" class="light-blue-text text-accent-2">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card blue-grey darken-4">
              <div class="card-content white-text">
                <p class="blue-grey-text text-lighten-4">
                  <strong>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdtelephone }}</strong>
                </p>
                <p><small>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdtelephonetext }}</small></p>
              </div>
              <div class="card-action blue-grey darken-3">
                <a href="/telephone" class="light-blue-text text-accent-2">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a>
              </div>
            </div>
          </div>
        </div>
        <!--   ROW 4   -->
        <div class="row center">
          <div class="col s12 m3">
            <div class="card light-blue darken-4">
              <div class="card-content white-text">
                <p class="light-blue-text text-lighten-4">
                  <strong>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdpm }}</strong>
                </p>
                <p><small>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdpmtext }}</small></p>
              </div>
              <div class="card-action light-blue darken-3">
                <a href="/project-management" class="light-blue-text text-accent-2">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a>
              </div>
            </div>
          </div>
          <div class="col s12 m3">
            <div class="card deep-orange darken-4">
              <div class="card-content white-text">
                <p class="deep-orange-text text-lighten-4">
                  <strong>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdmandate }}</strong>
                </p>
                <p><small>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topwwdmandatetext }}</small></p>
              </div>
              <div class="card-action deep-orange darken-3">
                <a href="/mandate" class="light-blue-text text-accent-2">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container valign">
        <div class="row center">
          <h4 class="header col s12 light-green-text text-accent-3">"{{ ( index $.Site.Data.translations $.Site.Params.locale ).toptestimoninal1 }}"</h4>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="/img/eSolia-Cogley-Azabudai-to-Atago-Tokyo-20131031-5355b.jpg" alt="{{ ( index $.Site.Data.translations $.Site.Params.locale ).altphotoatagotunnel }}">
    </div>
  </div>

  <div class="white z-depth-2">
    <div class="container">
      <div class="section">

        <!--   Why eSolia Section   -->
        <div class="row center">
          {{ if eq .Site.Params.locale "en-US" }}
          <h3><i class="large mdi-action-help green-text"></i></h3>
          <h4>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topsectionwhy }}</h4>
          <!-- start EN value section -->
          <div class="col s12 m6">
            <h5 class="center">OUR VALUE</h5>
            <div class="row left-align">
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light deep-purple darken-4"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>We work as a team</strong>, and provide all the skills a typical IT department has.
                <br>
                <br>
              </div>
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light deep-purple darken-4"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>We are an "ombudsman"</strong>, standing on the side of our client, and negotiating with vendors on their behalf.
                <br>
                <br>
              </div>
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light deep-purple darken-4"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>We strive to hire</strong> multilingual professionals, who have spent time in a culture not their own.
                <br>
                <br>
              </div>
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light deep-purple darken-4"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>Besides good communication</strong>, our team strives to get the relevant certifications from Microsoft, Cisco, CompTIA or ITIL to name a few.
                <br>
                <br>
              </div>
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light deep-purple darken-4"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>Our professionals understand process</strong>, and are accustomed to clearly documenting the work done for a client.
                <br>
                <br>
              </div>
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light deep-purple darken-4"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>Our support systems are well developed</strong>, which helps our team be efficient for you, to provide a standard set of reports.
                <br>
                <br>
                <p><a class="waves-effect waves-light green btn" href="/why-esolia" target="_blank"><i class="mdi-action-question-answer"></i> {{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a></p>
              </div>
            </div>
          </div>
          <!-- end EN value section -->
          <!-- start EN pledge section -->
          <div class="col s12 m6">
            <h5 class="center">OUR PLEDGE</h5>

            <div class="row left-align">
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light brown darken-2"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>We book only what was required</strong>, never "creating work" to inflate the bill.
              </div>
            </div>
            <div class="row left-align">
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light brown darken-2"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>We work as fast as is practicable</strong>, following your process or a "good practice" approach.
              </div>
            </div>
            <div class="row left-align">
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light brown darken-2"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>We report transparently</strong> on whatever we observe or do for you.
              </div>
            </div>
            <div class="row left-align">
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light brown darken-2"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>We trade commitment</strong> for more favorable professional rates, because we want to foster a long-term relationship with our clients.
              </div>
            </div>
            <div class="row left-align">
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light brown darken-2"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>We act with company health and stability in mind</strong>, never engaging in dodgy business practices or gamesmanship.
              </div>
            </div>
            <div class="row left-align">
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light brown darken-2"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>We take ownership of tasks</strong>, because we hate it when vendors drop the ball on us. We don't want to do that to our clients, ever.
                <p><a class="waves-effect waves-light green btn" href="/esolia-code-of-conduct" target="_blank"><i class="mdi-action-question-answer"></i> {{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a></p>
              </div>
            </div>
          </div>
          <!-- end ENG pledge section -->
          {{ else if eq .Site.Params.locale "ja-JP" }}
          <h3><i class="large mdi-action-help green-text"></i></h3>
          <h4>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topsectionwhy }}</h4>
          <!-- start JP value section -->
          <div class="col s12 m6">
            <h5 class="center">イソリアの強み</h5>
            <div class="row left-align">
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light deep-purple darken-4"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>チーム体制にて、</strong>一般的なIT部門が持っているすべてのスキルを提供いたします。
                <br>
                <br>
              </div>
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light deep-purple darken-4"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>「仲人」として、</strong>お客様の立場より、お客様の代わりにベンダーとの交渉を行います。
                <br>
                <br>
              </div>
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light deep-purple darken-4"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>異文化環境下での経験を持つ</strong>マルチリンガルのプロフェショナルな人材の確保に努めております。
                <br>
                <br>
              </div>
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light deep-purple darken-4"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>コミュニケーション能力に加え、</strong>当社のチームは、Microsoft、Cisco、CompTIAまたはITILなどの認定資格の取得に努めております。
                <br>
                <br>
              </div>
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light deep-purple darken-4"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>当社のプロフェショナルはプロセスを理解しており、</strong>作業に関して明確なドキュメント化を習慣としております。
                <br>
                <br>
              </div>
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light deep-purple darken-4"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>効率的にお客様をサポートできるように</strong>開発された当社のサポートシステムが標準化されたレポートを提供いたします。
                <p><a class="waves-effect waves-light green btn" href="/why-esolia" target="_blank"><i class="mdi-action-question-answer"></i> {{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a></p>
              </div>
            </div>
          </div>
          <!-- end value section -->
          <!-- start pledge section -->
          <div class="col s12 m6">
            <h5 class="center">イソリアの誓い</h5>

            <div class="row left-align">
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light brown darken-2"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>貴社のプロセスや、</strong>業界でよく取り組まれているアプローチに基づいて、素早く実行できるように行動いたします。
              </div>
            </div>
            <div class="row left-align">
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light brown darken-2"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>観察できた状況や行った作業に対して</strong>率直に報告を行います。
              </div>
            </div>
            <div class="row left-align">
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light brown darken-2"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>必要とされたものだけを請求し、</strong>水増し請求のような「仕事を作る」事はいたしません。
              </div>
            </div>
            <div class="row left-align">
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light brown darken-2"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>お客様と長期的な関係を促進するために、</strong>より魅力的なプロフェショナルレートを提供いたします。
              </div>
            </div>
            <div class="row left-align">
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light brown darken-2"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>私達は企業の健全性と安定性をもって行動しており、</strong>悪い商習慣や駆け引きに決して従事しておりません。
              </div>
            </div>
            <div class="row left-align">
              <div class="col s2">
                <a class="btn-floating waves-effect waves-light brown darken-2"><i class="mdi-toggle-radio-button-off"></i></a>
              </div>
              <div class="col s10 left-align">
                <strong>お受けした作業やトラブルは、</strong>最後まで徹底して対応いたします。
                <p><a class="waves-effect waves-light green btn" href="/esolia-code-of-conduct" target="_blank"><i class="mdi-action-question-answer"></i> {{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a></p>
              </div>
            </div>
          </div>
          <!-- end pledge section -->
          {{ end }}
        </div>

      </div>
    </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container valign">
        <div class="row center">
          <h4 class="header col s12 light-green-text text-accent-3">"{{ ( index $.Site.Data.translations $.Site.Params.locale ).toptestimoninal2 }}"</h4>
        </div>
      </div>
    </div>
    <div class="parallax">
      <img src="/img/eSolia-Cogley-Network-Switch-1.jpg" alt="{{ ( index $.Site.Data.translations $.Site.Params.locale ).altphotonetworkswitch }}">
    </div>
  </div>

  <!-- START featured services and products -->
  <div class="grey darken-3 white-text z-depth-2">
    <div class="container">
      <div class="section">

        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center amber-text text-darken-4"><i class="mdi-action-stars"></i></h2>
              <h5 class="center">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature }}</h5>

              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature1img }}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature1 }}<i class="mdi-navigation-more-vert right"></i></span>
                  <p><a href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature1url }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature1 }} <i class="mdi-navigation-close right"></i></span>
                  <p class="grey-text text-darken-4">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature1text }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center amber-text text-darken-4"><i class="mdi-action-stars"></i></h2>
              <h5 class="center">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature }}</h5>

              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature2img }}">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature2 }} <i class="mdi-navigation-more-vert right"></i></span>
                  <p><a href="{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature2url }}">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genmoreinfo }}</a></p>
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature2 }} <i class="mdi-navigation-close right"></i></span>
                  <p class="grey-text text-darken-4">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genfeature2text }}</p>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m4 center">
            <div class="icon-block">
              <h2 class="center amber-text text-darken-4"><i class="mdi-social-notifications-on"></i></h2>
              <h5 class="center">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genlatestfeature }}</h5>
                <ul class="esList grey darken-2">
                  {{ $series := index .Site.Taxonomies.series "top1" }}
                  {{ range first 5 $series.Pages }}
                    <li>
                    <div class="esListItemTitle blue-text text-darken-1"><a href="{{ .Permalink }}">{{ .Title | markdownify }}</a></div>
                    <div class="esListItemDate grey-text text-lighten-2">{{ .Date.Format "02 Jan, 2006" }}</div>
                    </li>
                  {{ end }}
                </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- END featured products and services -->

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m8 center">
          {{ if eq .Site.Params.locale "en-US" }}

          <h3><i class="mdi-content-send blue-text"></i></h3>
          <h4>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topsectioncus }}</h4>
          <div class="row">
            <div class="col s12 m3 center-on-small-only">
              <div class="image-container">
                <img class="materialboxed left responsive-img" data-caption="{{ ( index $.Site.Data.translations $.Site.Params.locale ).photocaptionesoliaofficefront1 }}" alt="{{ ( index $.Site.Data.translations $.Site.Params.locale ).altphotoesoliaofficefront1 }}" width="100" src="/img/eSolia-Cogley-eSolia-Office-Exterior-20130530.jpg">
              </div>
            </div>
            <div class="col s12 m9 left-align light">
              <strong>Tel:</strong>&nbsp;<a href="tel:+81-3-6273-3510">+81-3-6273-3510</a> (+81 &#8594; 0 inside Japan)
              <br>
              <strong>Email:</strong>&nbsp;<a href="mailto:info@esolia.co.jp">info@esolia.co.jp</a>
              <br>
              <strong>Address:</strong><br>
              Sawa Bldg. 6F, Nishi-Shimbashi 2-2-2, <br>
              Minato-ku, Tokyo 105-0003 Japan
              <br>
              <strong>Office Hours:</strong><br>
              9:00-18:00 JST, on weekdays
              <br>
              &nbsp;&nbsp;&nbsp;... or use our <a href="/info-request">info request</a> form.
              <p><a class="waves-effect waves-light blue btn" href="https://www.google.co.jp/maps/place/eSolia+Inc./@35.667716,139.751462,17z/data=!4m6!1m3!3m2!1s0x60188b933eb5098d:0xb799ee788fa28eb7!2seSolia+Inc.!3m1!1s0x60188b933eb5098d:0xb799ee788fa28eb7?hl=en" target="_blank"><i class="mdi-maps-place left"></i>{{ ( index $.Site.Data.translations $.Site.Params.locale ).genviewgooglemap }}</a></p>
            </div>
          </div>

          {{ else if eq .Site.Params.locale "ja-JP" }}

          <h3><i class="mdi-content-send blue-text"></i></h3>
          <h4>{{ ( index $.Site.Data.translations $.Site.Params.locale ).topsectioncus }}</h4>
          <div class="row">
            <div class="col s12 m3 center-on-small-only">
              <div class="image-container">
                <img class="materialboxed left responsive-img" data-caption="{{ ( index $.Site.Data.translations $.Site.Params.locale ).photocaptionesoliaofficefront1 }}" alt="{{ ( index $.Site.Data.translations $.Site.Params.locale ).altphotoesoliaofficefront1 }}" width="100" src="/img/eSolia-Cogley-eSolia-Office-Exterior-20130530.jpg">
              </div>
            </div>
            <div class="col s12 m9 left-align light">
              <strong>代表電話:</strong>&nbsp;<a href="tel:03-6273-3510">03-6273-3510</a>
              <br>
              <strong>メール:</strong>&nbsp;<a href="mailto:info@esolia.co.jp">info@esolia.co.jp</a>
              <br>
              <strong>所在地:</strong><br>
              〒105-0003 東京都港区西新橋2-2-2 澤ビル6階
              <br>
              <strong>お問い合わせ時間:</strong><br>
              平日 9:00〜18:00 (土日祝日を除く)
              <br>
              &nbsp;&nbsp;&nbsp;... 又は<a href="/info-request">お問い合わせ</a>フォームをご利用ください。
              <p><a class="waves-effect waves-light blue btn" href="https://www.google.co.jp/maps/place/eSolia+Inc./@35.667716,139.751462,17z/data=!4m6!1m3!3m2!1s0x60188b933eb5098d:0xb799ee788fa28eb7!2seSolia+Inc.!3m1!1s0x60188b933eb5098d:0xb799ee788fa28eb7?hl=en" target="_blank"><i class="mdi-maps-place left"></i>{{ ( index $.Site.Data.translations $.Site.Params.locale ).genviewgooglemap }}</a></p>
            </div>
          </div>

          {{ end }}
        </div>
        <div class="col s12 m4 center">
          <h3><i class="mdi-communication-comment blue-text"></i></h3>
          <h4 class="center">{{ ( index $.Site.Data.translations $.Site.Params.locale ).genlatestposts }}</h4>
          <p class="light">
            <div id="divRss2"></div>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="index-social-icons grey darken-4 z-depth-1">
    <div class="container">
      <div class="section">
        <div class="row">
          <div class="col s12 center">
            <a href="https://plus.google.com/+Esolia/posts" target="_blank"><i class="large icon-gplus red-text text-darken-1"></i></a>
            <a href="https://twitter.com/esolia_inc" target="_blank"><i class="large icon-twitter light-blue-text"></i></a>
            <a href="http://www.linkedin.com/company/esolia-inc" target="_blank"><i class="large icon-linkedin white-text"></i></a>
            <a href="http://www.facebook.com/eSolia" target="_blank"><i class="large icon-facebook indigo-text text-darken-2"></i></a>
            <a href="https://vimeo.com/channels/esolia" target="_blank"><i class="large icon-vimeo lime-text text-accent-3"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {{ partial "footer-home.html" . }}
  {{ partial "bodyend.html" . }}
</body>

</html>
